.buttonPage {
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  overflow: auto;
}

.title {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 120px;
}

.box {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  min-height: 0;
}

.macros {
  flex: 1;
  display: flex;
  overflow: auto;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 8px;
}

.settings {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text {
}
