.container {
    width: 100%;
    position: relative;
    display: flex;
    flex: 1;
}

.textArea {
    width: 100%;
    flex: 1;
}

.deleteButton {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}
