.mainLayout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  overflow: hidden;
  height: 100vh; /* ключевое свойство */
  max-height: 100vh; /* ограничиваем высоту экраном */
}

.content {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  min-height: 0;
  overflow: hidden; /* или auto для внутренней прокрутки */
}
