.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: scroll;
  padding: 6px 0;
  flex: 1;
}

.countBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
