.contactPage {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.avatar {
}

.info {
}

.title {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 120px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 40px;
}

.tg {
  font-size: 24px;
}
